a{text-decoration: none;}
.img-plan{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.booking-box{
    position: relative;
}
.booking {
	width: 70px;
	height: 30px;
	display: block;
	background-color: #f00;
	position: absolute;
	top: -30px;
	left: 160px;
	z-index: -999;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
    display: none;
    font-size: 14px;
    cursor: pointer;
}

.item:hover span{
    display: block;
}

  .card-body {
   
    padding: 1rem 0rem;
}

.price {
    transition: 0.5s ;
}

.bg-custom{
    background-color: coral;
}

.item:hover{
    background-color: #323643;
    transform: scale(1.1);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s ;
}

@media (max-width: 768px) { 
    .banner {
        height: 50vh;
        object-fit: cover;
    }

    .item{
        margin-bottom: 4rem;
    }

.item:hover{
    background-color: #323643;
    transform: scaleY(1.1);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ;
}

}
@media (max-width: 480.98px) { 


    .banner {
        height: 50vh;
        object-fit: cover;
    }
  .item{
        margin-bottom: 4rem;
    }

.item:hover{
    background-color: #323643;
    transform: scaleY(1.1);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ;
}

 }


